<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ project.name }}</h2>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <p class="md-title">
        Role: {{ project.role }}
      </p>
      <p class="md-title">
        Stacks: {{ project.stacks }}
      </p>
    </div>
  </md-dialog-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="onCloseDialog()" md-autofocus>
      Close
    </md-button>
  </div>
</md-dialog>
