<section class="resume page" layout="row" layout-align="center center">
  <section flex flex-gt-sm="80">
    <!-- intro -->
    <section class="resume-intro">
      <md-card>
        <md-card-content>
          <div layout="row" align="center" layout-align="center center">
            <div flex flex-gt-sm="80">
              <div class="wow fadeInDown resume-intro-pic">
                <img src="images/me3.jpg" alt="">
              </div>
              <div class="resume-intro-container">
                <h2 class="wow fadeIn color-grey-700">
                  Jack Lam
                </h2>

                <p class="md-headline text-color-blue">
                  Hello,
                </p>
                <p class="md-subhead color-grey-700">
                  A bit about me
                </p>
                <p class="wow fadeIn resume-intro-content color-grey-700">
                  My name is Jack 24 years old, school drop-out, self-taught coder and curious coder, I familiar in font-end development.
                  <br>
                  <br>
                  <!-- My interests, currently I am interested in web frontend, web backend and hybrid app development. -->
                  <!-- About my interests, I interested in the Internet protocol & Networking then I wrote an FTP server & client to understand how the FTP protocol works
                  and tried to write a VNC application, but it failed because the RFB protocol It is a bit complicated especially the encryption & encryption part.

                  I also interested in Internet security so I wrote a simple MITM tool for fun and for learning some protocols security flaw.

                  Current I also interested in web development, backend & frontend (temporarily want to focus on frontend). -->

                  About my interests, I interested in Internet Protocol, Networking, Internet Security, Web Development (backend & frontend)
                </p>
              </div>

              <div class="resume-intro-links" layout="row" layout-align="center center">
                <md-button href="https://github.com/jacklam718" target="_blank" class="resume-intro-link github-link">
                  GITHUB
                  <ng-md-icon icon="github-circle"></ng-md-icon>
                </md-button>
                <md-button href="#contact" class="resume-intro-link contact-link">
                  CONACT ME
                  <ng-md-icon icon="email"></ng-md-icon>
                </md-button>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </section>

    <section class="resume-skills color-white">
      <div class="section-title" align="center">
        <h1 class="wow fadeIn md-display-1 headline color-grey-700">
          <!-- <ng-md-icon icon="grade" size="34"></ng-md-icon> -->
          Skills
        </h1>
      </div>
      <md-card class="bg-blue-500">
        <md-card-content>
          <div class="wow fadeIn resume-skills-content">
            <div class="wow fadeIn" align="center">
              <h3>
                Stacks
              </h3>
            </div>

            <!-- javscript -->
            <md-divider class="wow fadeIn"></md-divider>
            <div class="resume-skills-lang-and-framework">
              <div layout="row" class="wow fadeIn">
                <div flex="45">
                  <div>
                    <skills-progress title="JavaScript" grade="7">
                    </skills-progress>
                  </div>
                </div>
                <span flex></span>
                <div flex="45">
                  <div>
                    <skills-progress title="React & React Native" grade="7">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Redux" grade="6">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="AngularJs" grade="7">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="MeteorJs" grade="7">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Polymer" grade="3">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Jquery" grade="5">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Ionic" grade="3">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="KOA" grade="3">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Express" grade="3">
                    </skills-progress>
                  </div>
                </div>
              </div>

              <!-- python -->
              <md-divider class="wow fadeIn" data-wow-delay="0.15s"></md-divider>
              <div layout="row" class="wow fadeIn" data-wow-delay="0.15s">
                <div flex="45">
                  <skills-progress title="Python" grade="7">
                  </skills-progress>
                </div>
                <span flex></span>
                <div flex="45">
                  <div>
                    <skills-progress title="Twisted" grade="3">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="PyQt" grade="4">
                    </skills-progress>
                  </div>
                </div>
              </div>

              <!-- ruby -->
              <md-divider class="wow fadeIn" data-wow-delay="0.25s"></md-divider>
              <div layout="row" class="wow fadeIn" data-wow-delay="0.25s">
                <div flex="45">
                  <skills-progress title="Ruby" grade="4">
                  </skills-progress>
                </div>
                <span flex></span>
                <div flex="45">
                  <div>
                    <skills-progress title="Rails" grade="3">
                    </skills-progress>
                  </div>
                  <div>
                    <skills-progress title="Sinatra" grade="3">
                    </skills-progress>
                  </div>
                </div>
              </div>

              <!-- html5 -->
              <md-divider class="wow fadeIn" data-wow-delay="0.35s"></md-divider>
              <div layout="row" class="wow fadeIn" data-wow-delay="0.35s">
                <div flex="45">
                  <div>
                    <skills-progress title="HTML5" grade="6">
                    </skills-progress>
                  </div>
                </div>
              </div>

              <!-- css3 -->
              <md-divider class="wow fadeIn" data-wow-delay="0.45s"></md-divider>
              <div layout="row" class="wow fadeIn" data-wow-delay="0.45s">
                <div flex="45">
                  <div>
                    <skills-progress title="CSS3" grade="4">
                    </skills-progress>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </section>

    <section class="resume-exp">
      <div class="wow fadeIn section-title">
        <h1 class="md-display-1 headline color-grey-700">
          <!-- <ng-md-icon icon="work" size="34"></ng-md-icon> -->
          Relevant Work Experience
        </h1>
      </div>
      <div class="resume-exp-time-line">
        <div data-wow-duration="2s" class="wow fadeInLeft resume-exp-time-line-block" layout="row" layout-align="start center" layout-align-sm="center center">
          <div class="resume-exp-time-line-break-point"></div>
          <md-card class="resume-exp-card" flex>
            <md-card-content class="resume-exp-card-content left">
              <h3 class="resume-exp-job-title color-grey-700">
                Software Developer - <a class="color-blue-500" href="http://www.42la.bs/" target="_blank">42 Labs</a>
              </h3>
              <span class="resume-exp-job-present-date color-blue-500">
                14 July 2014 - 01 January 2015
              </span>
            </md-card-content>
          </md-card>
        </div>
        <div data-wow-duration="2s" data-wow-delay="0.5s" class="wow fadeIn fadeInRight resume-exp-time-line-block" layout="row" layout-align="end center" layout-align-sm="center center">
          <div class="resume-exp-time-line-break-point"></div>
          <md-card class="resume-exp-card" flex>
            <md-card-content class="resume-exp-card-content right">
              <h3 class="resume-exp-job-title color-grey-700">
                Software Developer - <a class="color-blue-500" href="https://gogovan.com.hk/en/" target="_blank">GoGoVan</a>
              </h3>
              <span class="resume-exp-job-present-date color-blue-500">
                01 March 2015 - Now
              </span>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </section>

    <section class="resume-projects" >
      <div class="section-title" align="center">
        <h1 class="wow fadeIn md-display-1 headline color-grey-700">
          Projects
        </h1>
      </div>

      <section>
        <md-card data-wow-duration="2s" class="wow" layout="row" layout-md="column" layout-sm="column">
          <md-card class="wow slideInLeft resume-project-card" flex>
            <img ng-src="{{'//www.gogovan.com.hk/img/home_hero_pet.jpg'}}" class="md-card-image" alt="">
            <md-card-content>
              <h2 class="md-title">
                <a href="https://www.gogovan.com.hk/" target="_blank" class="color-blue-500">
                  <span class="md-headline">GoGoVan website (HK)</span>
                </a>
              </h2>

              <p class="resume-project-desc">
                GoGoVan是香港網上貨運物流平台，24小時提供最專業的貨運服務，智能手機30秒call貨Van和貨車，隨時隨地隨叫隨到。
              </p>
            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="onOpenProjectDialog('gogovan-hk', $event)">
                More
              </md-button>
            </div>
          </md-card>

          <md-card class="wow slideInDown resume-project-card" flex>
            <img ng-src="{{'http://www.kuaigou.co/img/hero.jpg'}}" class="md-card-image" alt="">
            <md-card-content>
              <h2 class="md-title">
                <a href="http://www.kuaigou.co/" target="_blank" class="color-blue-500">
                  GoGoVan website (CN)
                </a>
              </h2>

              <p class="resume-project-desc">
                快狗速运是最快、最好、价钱最公道的即时/预约送货服务的物流平台。半分钟内找到货车送货，车队涵盖小面包车、金杯、货车等，24小时专业的同城货运服务，省时省力。
              </p>
            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="onOpenProjectDialog('gogovan-cn', $event)">
                More
              </md-button>
            </div>
          </md-card>

          <md-card class="wow slideInDown resume-project-card" flex>
            <img ng-src="{{'https://www.gogovan.sg/img/hero_bg2@2x.jpg'}}" class="md-card-image" alt="">
            <md-card-content>
              <h2 class="md-title">
                <a href="https://www.gogovan.sg/" target="_blank" class="color-blue-500">
                  GoGoVan website (SG)
                </a>
              </h2>

              <p class="resume-project-desc">
                Same day courier, delivery and moving service across Singapore for individuals and businesses
              </p>
            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="onOpenProjectDialog('gogovan-sg', $event)">
                More
              </md-button>
            </div>
          </md-card>

          <md-card class="wow slideInRight resume-project-card" flex>
            <img ng-src="{{'http://www.chefconnect.hk/_/rsrc/1443839134931/config/pagetemplates/template01/Home_TopBanner_01.jpg'}}" class="md-card-image" alt="">
            <md-card-content>
              <h2 class="md-title">
                <a href="http://www.chefconnect.hk/" target="_blank" class="color-blue-500">
                  ChefConnect
                </a>
              </h2>
              <p class="resume-project-desc">
                Online food ordering service
              </p>
            </md-card-content>

            <div class="md-actions" layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="onOpenProjectDialog('chefconnect', $event)">
                More
              </md-button>
            </div>
          </md-card>
        </md-card>
      </section>

      <div class="section-title" align="center">
        <h1 class="wow fadeIn md-display-1 headline color-grey-700">
          Some Open Source Projects
        </h1>
      </div>

      <section>
        <md-card data-wow-duration="2s">
          <div flex class="wow" layout="row" layout-md="column" layout-sm="column">
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <img ng-src="{{'//jacklam718.github.io/react-native-popup-dialog/resources/popup-dialog-scale-animation.gif'}}" class="md-card-image" alt="">
                <img ng-src="{{'//jacklam718.github.io/react-native-popup-dialog/resources/popup-dialog-slide-animation.gif'}}" class="md-card-image" alt="">
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/react-native-popup-dialog" target="_blank" class="color-blue-500">
                      <span class="md-headline">React Natiev Popup Dialog</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    A React Native Popup Dialog Easy Use & Support Custom Animation. For IOS & Android.
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('React Natiev Popup Dialog', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <img ng-src="{{'//jacklam718.github.io/react-native-button-component/build/video/circle-button-demo.gif'}}" class="md-card-image" alt="">
                <img ng-src="{{'//jacklam718.github.io/react-native-button-component/build/video/button-demo.gif'}}" class="md-card-image" alt="">
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/react-native-button-component" target="_blank" class="color-blue-500">
                      <span class="md-headline">React Natiev Button Component</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    A Beautiful, Customizable React Native Button component for iOS & Android
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('React Natiev Button Component', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <img ng-src="{{'//www.dropbox.com/s/44aildn3lhq9rik/react-native-card-view.gif?dl=1'}}" class="md-card-image" alt="">
                <img ng-src="{{'//www.dropbox.com/s/kxkltgzwokxkr5k/IMG_0359.PNG?dl=1'}}" class="md-card-image" alt="">
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/react-native-card-view" target="_blank" class="color-blue-500">
                      <span class="md-headline">React Natiev Card View</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    A react native card component
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('React Natiev Card View', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <img ng-src="{{'//jacklam718.github.io/react-native-animated-overlay/assets/video/react-native-animated-overlay.gif'}}" class="md-card-image" alt="">
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/react-native-animated-overlay" target="_blank" class="color-blue-500">
                      <span class="md-headline">React Natiev Animated Overlay</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    A Simple React Native Animated Overlay for iOS & Android.
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('React Natiev Animated Overlay', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
          </div>
          <div flex class="wow" layout="row" layout-md="column" layout-sm="column">
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <img ng-src="{{'//raw.github.com/jacklam718/ftp/master/screenshots/server.jpg'}}" class="md-card-image" alt="">
                <img ng-src="{{'//raw.github.com/jacklam718/ftp/master/screenshots/client_main_window.jpg'}}" class="md-card-image" alt="">
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/ftp" target="_blank" class="color-blue-500">
                      <span class="md-headline">ftp</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    Python FTP Server & Client
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('Python FTP Server & Client', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
            <div flex="25" flex-gt-xs="50"  flex-xs="100" flex-sm="50">
              <md-card class="wow slideInLeft resume-project-card">
                <!-- <img ng-src="{{'//raw.github.com/jacklam718/ftp/master/screenshots/server.jpg'}}" class="md-card-image" alt="">
                <img ng-src="{{'//raw.github.com/jacklam718/ftp/master/screenshots/client_main_window.jpg'}}" class="md-card-image" alt=""> -->
                <md-card-content>
                  <h2 class="md-title">
                    <a href="https://github.com/jacklam718/sMitm" target="_blank" class="color-blue-500">
                      <span class="md-headline">sMitm</span>
                    </a>
                  </h2>

                  <p class="resume-project-desc">
                    A simple `man in the mindle` uses scapy
                  </p>
                </md-card-content>

                <!-- <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="onOpenProjectDialog('A simple `man in the mindle` uses scapy', $event)">
                    More
                  </md-button>
                </div> -->
              </md-card>
            </div>
          </div>
        </md-card>
      </section>
    </section>

    <section id="contact" class="resume-contact">
      <div class="section-title wow fadeIn">
        <p class="md-display-1 headline color-grey-700">
          Contact
        </p>
      </div>
      <md-card>
        <md-card-content>
          <form name="contact" ng-submit="sendEmail()">
            <div class="" layout="column">
              <md-input-container class="wow fadeIn" flex>
                <label>Name *</label>
                <input ng-required="true" ng-model="contact.form.name">
              </md-input-container>
              <md-input-container class="wow fadeIn" flex>
                <label>From *</label>
                <input ng-required="true" type="email" ng-model="contact.form.from">
              </md-input-container>
              <md-input-container class="wow fadeIn" flex>
                <label>To *</label>
                <input
                  ng-required="true"
                  type="email"
                  ng-model="contact.form.to"
                  ng-init="contact.form.to = 'jacklam718@gmail.com';"
                >
              </md-input-container>
              <md-input-container class="wow fadeIn" data-wow-delay="0.4s" flex>
                <label>Subject *</label>
                <input ng-required="true" ng-model="contact.form.subject">
              </md-input-container>
              <md-input-container class="wow fadeIn" data-wow-delay="0.4s" flex>
                <label>Message *</label>
                <textarea ng-required="true" ng-model="contact.form.text"></textarea>
              </md-input-container>
            </div>

            <div ng-if="contact.senddingEmail" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <div class="wow fadeIn" data-wow-delay="0.4s" layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" flex="40">
                Send
              </md-button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </section>
  </section>
</section>
